@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./bg-intro-desktop.png);
    position: relative;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
}
.layer {
    background-color: hsl(0, 100%, 50%, 0.45) ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
footer{
    display: flex;
    height: 10vh;
    width: 100vw;
    position: absolute;
    margin-top: 90vh;
    justify-content: center;
    align-items: center;
    font-size: 2.5vh;
    text-align: center;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
}
main .text{
    display: flex;
    flex-direction: column;
    color: white;
    height: 85%;
    width: 40%;
    margin-left: 3vw;
    margin-top: 8vh;
    padding-right: 2vw;
    padding-left: 2vw;
    padding-top: 3vh;
    justify-content: center;
    gap: 3vh;
}
 
main .text h1{
    font-size: 3vw;
    font-weight: 700;
    margin-right: 1.15vw;
}
main .text p{
    font-size: 1.15vw;
}

main .card-section{
    margin-right: 3vw;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 90vh;
    padding-top: 5vh;
    padding-bottom: 2vh;
    padding-left: 3vh;
    padding-right: 3vh;
    gap: 2vh;
    align-items: center;
}

#premium-button{
    width: 80%;
    height: 12%;
    background-color: hsl(248, 32%, 49%);
    border-radius: 1.2vh;
    outline: none;
    border: none;
    color: white;
    font-family: Poppins;
    box-shadow: 0 .8vh 0 hsl(0, 0%, 40%, .3);
    font-size: 1.3vw;
}
#premium-button span{
    font-weight: 700;
}

form{
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 1.2vh;
    outline: none;
    border: none;
    justify-content: space-between;
    padding: 4vh 2vw;
    box-shadow: 0 1vh 0 hsl(0, 0%, 40%, .4);
}
.icon-input{
    display: flex;
    position: relative;
    width: 100%;
    height: 8vh;
    border-radius: 1vh;
}
.icon-input img{
    position: absolute;
    right: 0;
    align-self: center;
    margin: 20px;
    width: 1.6vw;
    height: 1.6vw;
    visibility: hidden;
    /* display: none; */
}
form h6{
    color: hsl(0, 100%, 74%) ;
    font-style: italic;
    text-align: right;
    font-size: .77vw;
    visibility: hidden;
}
form input,
form button{
    width: 100%;
    height: 8vh;
    border-radius: 1vh;
}
form input{
    position: absolute;
    border: 1px solid hsl(0, 0%, 50%, 0.5);
    padding-left: 2vh ;
    font-family: Poppins;
    font-size: 1.2vw;
    font-weight: 500;
    outline: none;
}
form input:focus{
    border:  1px solid hsl(248, 32%, 49%, 0.5);
    border-bottom-width: 2px;
}

form button{
    cursor: pointer;
    outline: none;
    border: none;
    font-family: Poppins;
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-size: 1.1vw;
}
form button:hover{
    box-shadow: 0 .5vh 0 hsl(152deg 49% 77%);
    transition: 0.2s;
}
form p{
    text-align: center;
    font-size: 0.9vw;
}
form p span{
    color: hsl(0, 100%, 50%) ;
}
::placeholder{
    font-family: Poppins;
    color: hsl(249, 10%, 26%);
    font-weight: 400;
    font-size: 1.15vw;
}
.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}
@media (max-width: 500px){
    body{
        background-image: url(./bg-intro-mobile.png);
        height: 120vh;
    }
    .layer{
        height: 130vh;
    }
    footer{
        height: 10vh;
        margin-top: 120vh;
        font-size: 2vh;
        text-align: center;
    }
    main{
        height: 120vh;
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
    main .text{
        width: 90vw;
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;
        height: 40vh;
        margin-top: 0;
        margin-left: 0;
        padding-right: 6vw;
        padding-left: 6vw;
        padding-top: 6vw;
    }
    main .text h1{
        font-size: 3.7vh;
        margin-right: 3vw;
        margin-left: 3vw;
    }
    main .text p{
        font-size: 2.5vh;
        padding-bottom: 0;
    }
    main .card-section{
        width: 100vw;
        height: 80vh;
        margin: 0;
        padding: 2vh 0;
        align-items: center;
        justify-content: center;
    }
    #premium-button{
        width: 87%;
        height: 10vh;
        font-size: 3.7vw;
        text-align: center;
        padding: 2vw 6vw;
    }
    form{
        width: 87%;
        height: 70vh;
        padding: auto;
        display: flex;
    }
     .icon-input{
        height: 8vh;
        width: 100%;
    } 
    .icon-input img{
        height: 4.5vw;
        width: 4.5vw;
        margin-right: 3vw;
    }
    form h6{
        font-size: 1vw;
    }
    form input,
    form button{
        width: 100%;
        height: 8vh;
    }
    form input{
        padding-left: 5vw;
        font-size: 3vw;
    }
    form button{
        font-size: 3.5vw;
    }
    form p{
        font-size: 3vw;
        padding: 0 5vw;
    }
    ::placeholder{
        font-size: 2.7vw;
        align-items: center;
    }

} 
